{% extends "content/base.html" %}

{% block body %}

    <div class="container mt-5">
        <h2 class="text-center">Create Task</h2>

        <form method="POST">
            {% csrf_token %}
            <input type="text" name="title" class="form-control" placeholder="Task Title" required>
            <textarea name="description" class="form-control mt-2" placeholder="Task Description" required></textarea>
            <button type="submit" class="btn btn-primary mt-2">Add Task</button>
        </form>

        <a href="{% url 'home' %}" class="btn btn-secondary mt-3">Back</a>
    </div>

{% endblock %}