{% extends "content/base.html" %}

{% block body %}
    <div class="container mt-5">
        <h2 class="text-center text-danger">Delete Task</h2>
        
        <p><h2 font-weight: 500; >Here are the Task Details:</h2>
        <h4>{{ task.title }} <br>
            {{ task.description }} <br>
        </h4>
        </p>

        <h1><p>Are you sure you want to delete the task <strong>{{ task.title }}</strong>?</p></h1>
        
        
      
        <form method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Delete</button>
            <a href="{% url 'home' %}" class="btn btn-secondary">Cancel</a>
        </form>
    </div>

{% endblock %}